<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Export File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
			    <string>de.neurobuddies.clara</string>
			</array>
		</dict>
	</array>
        <key>UTExportedTypeDeclarations</key>
        <array>
            <dict>
            <key>UTTypeIdentifier</key>
                <string>de.neurobuddies.clara</string>
                <key>UTTypeDescription</key>
                <string>Clara File</string>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>clara</string>
                    </array>
                    <key>public.mime-type</key>
                    <string>application/json</string>
                </dict>
            </dict>
        </array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>this app needs access to your calendar to display your events.</string>
</dict>
</plist>
